<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    /> 
</head>
<body>

  

    <form method="POST">
    Customer  {{ cust }}.
    Timescale {{ timescale }}.
    Forecast model {{ model }}.
    Logged in supplier id {{ supp }}.
 
    is checkbox check for all cust: {{all}}.
 

<canvas id='linechart' width= "900" height = "400"> </canvas>
<script> 
var ctx= document.getElementById("linechart").getContext("2d");
var lineChart=new Chart(ctx,{
    type:'line',
    data:{
       
        datasets: [
        {
            labels: "data points",
            label: 'train',
            data: {{ trainD | safe }},
            borderColor: "#00F",
            fill: false
        },
        {
            labels: "data points",
            label: 'test',
            borderColor: "#0D0",
            data: {{ testD | safe }},
            fill: false
        },       
        {
            labels: "data points",
            label: 'pred',
            borderColor: "#F00",
            data: {{ predD | safe }},
            fill: false
        }
        
        
        ]
    },
     options:{
        responsive: false,
        scales: {
            x: {
                ticks: {
                    maxRotation: 90,
                    minRotation: 90
                }
            }
        }
    }
});


</script>


    <input type ="submit" name="action" value="excel", class="button is-success">


    <input type ="submit" name="action" value="decomposition" class="button is-success">

    <input type ="submit" name="action" value="analysis" class="button is-success">

</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
 <span> {{ msg }} </span>
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endfor %}
{% endif %}
{% endwith %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>




</html>